@{
    ViewData["Title"] = "Ooops! Page was not found";
}

<section class="error-404">
    <div class="container">
        <div class="content">
            <img src="/images/404.svg"/>
            <h1 class="lt">Ooops!</h1>
            <p>The page you are looking for is not available.</p>
        </div>
        <nav>
            <a class="btn-theme" asp-action="Index" asp-controller="Home"><i class="fa-regular fa-house"></i>Go to homepage </a>
        </nav>
    </div>
</section>
