<!-- Newsletters -->
<section class="Newsletters container">
    <h2 class="lt">Don't Want to Miss Anything?</h2>
    <img src="/images/arrows.svg" alt="">
    <h4>Sign up for Newsletters</h4>
</section>