<div id="showcase">
    <partial name="~/Views/Shared/Sections/_Showcase.cshtml" />
</div>

<div id="features">
    <partial name="~/Views/Shared/Sections/_OurTools.cshtml">
</div>




<!-- Switch between light & dark mode -->
<section class="container">
    <div>
        <img class="flexibleImg" src="/images/Light&Dark.svg" alt="">
    </div>
</section>
<!-- Manage Your Work -->
<section class="container">
    <div class="myw">
        <img class="flexibleImg" src="/images/manageYourWork.svg" alt="">
        <div class="right">
            <h2 class="lt">Manage Your Work</h2>
            <p><i class="fa-regular fa-circle-check i-in-p "></i>Powerful project management</p>
            <p><i class="fa-regular fa-circle-check i-in-p "></i>Transparent work management</p>
            <p><i class="fa-regular fa-circle-check i-in-p "></i>Manage work & focus on the most important tasks</p>
            <p><i class="fa-regular fa-circle-check i-in-p "></i>Track your progress with interactive charts</p>
            <p><i class="fa-regular fa-circle-check i-in-p "></i>Easiest way to track time spent on tasks</p>
            <button class="btn-theme LearnMore-btn">Learn more<i class="fa-solid fa-arrow-right i-in-btn"></i></button>
        </div>
    </div>

</section>  
<!-- Download Our App -->
<section class="DownloadOurApp container">
    <div>
        <img class="phone" src="/images/Download.svg" alt="">
    </div>
    <div class="RightSection">
        <h2 class="lt">Download Our App<br> for Any Devices:</h2>

        <div class="DownloadParent">
            <div class="DownloadChiled">
                <div>
                    <p>App Store</p>
                    <img class="stars" src="/images/stars.svg" alt="">
                    <h4 class="mt">Editor's Choice</h4>
                    <p>rating 4.7, 187K+ reviews</p>
                </div>
                <a class="AppLink" href="http://">
                    <img src="/images/AppStore.svg" alt="">
                </a>
            </div>
            <div class="DownloadChiled">
                <div>
                    <p>Google Play</p>
                    <img class="stars" src="/images/stars.svg" alt="">
                    <h4 class="mt">App of the Day</h4>
                    <p>rating 4.8, 30K+ reviews</p>
                </div>
                <a class="AppLink" href="http://">
                    <img src="/images/googleplay.svg" alt="">
                </a>
            </div>
        </div>
    </div>
</section>
<!-- Integrate Top Work Tools -->
<section class="IntegrateTopWorkTools container">
    <div class="title">
        <h2 class="center lt">Integrate Top Work Tools</h2>
        <p class="center">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin volutpat mollis egestas. Nam luctus facilisis ultrices. Pellentesque volutpat ligula est. Mattis fermentum, at nec lacus.</p>
    </div>
    <div class="WorkTools">
        <div>
            <img src="/images/WorkTools_1.svg" alt="">
            <p>Lorem magnis pretium sed curabitur nunc facilisi nunc cursus sagittis.</p>
        </div>
        <div>
            <img src="/images/WorkTools_2.svg" alt="">
            <p>In eget a mauris quis. Tortor dui tempus quis integer est sit natoque placerat dolor.</p>
        </div>
        <div>
            <img src="/images/WorkTools_3.svg" alt="">
            <p>Id mollis consectetur congue egestas egestas suspendisse blandit justo.</p>
        </div>
        <div>
            <img src="/images/WorkTools_4.svg" alt="">
            <p>Rutrum interdum tortor, sed at nulla. A cursus bibendum elit purus cras praesent.</p>
        </div>
        <div>
            <img src="/images/WorkTools_5.svg" alt="">
            <p>Congue pellentesque amet, viverra curabitur quam diam scelerisque fermentum urna.</p>
        </div>
        <div>
            <img src="/images/WorkTools_6.svg" alt="">
            <p>A elementum, imperdiet enim, pretium etiam facilisi in aenean quam mauris.</p>
        </div>
        <div>
            <img src="/images/WorkTools_7.svg" alt="">
            <p>Ut in turpis consequat odio diam lectus elementum. Est faucibus blandit platea.</p>
        </div>
        <div>
            <img src="/images/WorkTools_8.svg" alt="">
            <p>Faucibus cursus maecenas lorem cursus nibh. Sociis sit risus id. Sit facilisis dolor arcu.</p>
        </div>
    </div>

</section>
<!-- Newsletters -->
<section class="Newsletters container">
    <h2 class="lt">Don't Want to Miss Anything?</h2>
    <img src="/images/arrows.svg" alt="">
    <h4>Sign up for Newsletters</h4>
</section>