<div id="showcase">
    <partial name="~/Views/Shared/Sections/_Showcase.cshtml" />
</div>

<div id="features">
    <partial name="~/Views/Shared/Sections/_OurTools.cshtml">
</div>

<partial name="~/Views/Shared/Sections/_LightDark.cshtml">
<partial name="~/Views/Shared/Sections/_ManageYourWork.cshtml">
<partial name="~/Views/Shared/Sections/_DownloadOurApp.cshtml">
<partial name="~/Views/Shared/Sections/_IntegrateTopWorkTools.cshtml">
<partial name="~/Views/Shared/Sections/_Newsletters.cshtml">
 